
package {{.PackageName}}

import (
	"errors"
	"net/http"

	"go-project-template-v7/pkg/apperrors"
	"go-project-template-v7/pkg/httputils"
	"go-project-template-v7/pkg/pageable"
	"go-project-template-v7/pkg/validator"
)

type Handler struct {
	svc Service
}

func NewHandler(svc Service) *Handler {
	return &Handler{
		svc: svc,
	}
}

// Save
//
// @Summary Create new item
// @Description Create new item handler
// @Tags {{.StructNamePluralRequestPath}}
// @Accept json
// @Produce json
// @Param request body {{.CreateRequestName}} true "Create input"
// @Success 201 {object} {{.ResponseName}}
// @Failure 400 {object} httputils.ErrorResponse "Bad Request (Invalid request payload)"
// @Failure 500 {object} httputils.ErrorResponse "Internal Server Error"
// @Router /api/v1/{{.StructNamePluralRequestPath}} [post]
func (h *Handler) Save(w http.ResponseWriter, r *http.Request) {
	req := &{{.CreateRequestName}}{}
	if err := httputils.ReadJSON(r, &req); err != nil {
		httputils.WriteJSON(w, http.StatusBadRequest, httputils.ErrorResponse{Message: err.Error()})
		return
	}
	if err := validator.ValidateStruct(req); err != nil {
		httputils.WriteJSON(w, http.StatusBadRequest, httputils.ErrorResponse{Message: err.Error()})
		return
	}
	createInput := mapCreateRequestToCreateInputDto(req)
	resp, err := h.svc.Save(r.Context(), createInput)
	if err != nil {
		httputils.WriteJSON(w, http.StatusInternalServerError, httputils.ErrorResponse{Message: err.Error()})
		return
	}
	httputils.WriteJSON(w, http.StatusCreated, mapDtoToPayload(resp))
}

{{- if .HasUpdateFields}}
// UpdateByID
//
// @Summary Update existing item
// @Description Updates an item by its ID
// @Tags {{.StructNamePluralRequestPath}}
// @Accept json
// @Produce json
// @Param id path int true "Item ID"
// @Param request body {{.UpdateRequestName}} true "Update input"
// @Success 200 {object} {{.ResponseName}}
// @Failure 400 {object} httputils.ErrorResponse "Bad Request"
// @Failure 404 {object} httputils.ErrorResponse "Not Found"
// @Failure 500 {object} httputils.ErrorResponse "Internal Server Error"
// @Router /api/v1/{{.StructNamePluralRequestPath}}/{{.PkeysURLPath}} [put]
func (h *Handler) UpdateByID(w http.ResponseWriter, r *http.Request) {
	{{.PathIDSClause}}

	req := &{{.UpdateRequestName}}{}
	if err := httputils.ReadJSON(r, &req); err != nil {
		httputils.WriteJSON(w, http.StatusBadRequest, httputils.ErrorResponse{Message: err.Error()})
		return
	}
	if err := validator.ValidateStruct(req); err != nil {
		httputils.WriteJSON(w, http.StatusBadRequest, httputils.ErrorResponse{Message: err.Error()})
		return
	}
	updateInput := mapUpdateRequestToUpdateInputDto(req)
	resp, err := h.svc.UpdateByID(r.Context(), updateInput, {{.ArgumentsByPkeys}})
	if err != nil {
		if errors.Is(err, apperrors.ErrNotFound) {
			httputils.WriteJSON(w, http.StatusNotFound, httputils.ErrorResponse{Message: "record not found"})
			return
		}
		httputils.WriteJSON(w, http.StatusInternalServerError, httputils.ErrorResponse{Message: err.Error()})
		return
	}
	httputils.WriteJSON(w, http.StatusOK, mapDtoToPayload(resp))
}

{{- end}}

{{- if .HasPrimaryKey}}
// DeleteByID
//
// @Summary Delete existing item
// @Description Deletes an item by its ID
// @Tags {{.StructNamePluralRequestPath}}
// @Accept json
// @Produce json
// @Param id path int true "{{.StructName}} ID"
// @Success 204 "No Content (Successfully deleted)"
// @Failure 400 {object} httputils.ErrorResponse "Bad Request (Invalid ID format)"
// @Failure 404 {object} httputils.ErrorResponse "Not Found"
// @Failure 500 {object} httputils.ErrorResponse "Internal Server Error"
// @Router /api/v1/{{.StructNamePluralRequestPath}}/{{.PkeysURLPath}} [delete]
func (h *Handler) DeleteByID(w http.ResponseWriter, r *http.Request) {
	{{.PathIDSClause}}

	if err := h.svc.DeleteByID(r.Context(), {{.ArgumentsByPkeys}}); err != nil {
		if errors.Is(err, apperrors.ErrNotFound) {
			httputils.WriteJSON(w, http.StatusNotFound, httputils.ErrorResponse{Message: "record not found"})
			return
		}
		httputils.WriteJSON(w, http.StatusInternalServerError, httputils.ErrorResponse{Message: err.Error()})
		return
	}
	w.WriteHeader(http.StatusNoContent)
}

// FindByID retrieves an item by its ID.
//
// @Summary Get item by ID
// @Description Retrieves the details based on the provided ID in the request path.
// @Tags {{.StructNamePluralRequestPath}}
// @Produce json
// @Param id path int true "Item ID"
// @Success 200 {object} {{.ResponseName}} "Single item"
// @Failure 400 {object} httputils.ErrorResponse "Bad Request (Invalid ID format)"
// @Failure 404 {object} httputils.ErrorResponse "Not Found"
// @Failure 500 {object} httputils.ErrorResponse "Internal Server Error"
// @Router /api/v1/{{.StructNamePluralRequestPath}}/{{.PkeysURLPath}} [get]
func (h *Handler) FindByID(w http.ResponseWriter, r *http.Request) {
	{{.PathIDSClause}}

	resp, err := h.svc.FindByID(r.Context(), {{.ArgumentsByPkeys}})
	if err != nil {
		if errors.Is(err, apperrors.ErrNotFound) {
			httputils.WriteJSON(w, http.StatusNotFound, httputils.ErrorResponse{Message: "record not found"})
			return
		}
		httputils.WriteJSON(w, http.StatusInternalServerError, httputils.ErrorResponse{Message: err.Error()})
		return
	}
	httputils.WriteJSON(w, http.StatusOK, mapDtoToPayload(resp))
}

{{- end}}

// FindAll
//
// @Summary Get all
// @Description Retrieves a list without pagination.
// @Tags {{.StructNamePluralRequestPath}}
// @Accept json
// @Produce  json
// @Success 200 {object} {{.ResponseListName}} "List of all items"
// @Failure 500 {object} httputils.ErrorResponse "Internal Server Error"
// @Router /api/v1/{{.StructNamePluralRequestPath}} [get]
func (h *Handler) FindAll(w http.ResponseWriter, r *http.Request) {
	resp, err := h.svc.FindAll(r.Context())
	if err != nil {
		httputils.WriteJSON(w, http.StatusInternalServerError, httputils.ErrorResponse{Message: err.Error()})
		return
	}
	httputils.WriteJSON(w, http.StatusOK, {{.ResponseListName}}{
		Data: mapDtosToPayloads(resp),
	})
}

// FindAllPageable
//
// @Summary Get paginated list
// @Description Retrieves a paginated list using pagination parameters.
// @Tags {{.StructNamePluralRequestPath}}
// @Accept json
// @Produce json
// @Param page query int false "Page number (default: 1)"
// @Param size query int false "Number of items per page (default: 10)"
// @Param sort query string false "Sort order, e.g., 'name,asc'"
// @Success 200 {object} {{.ResponseListName}} "Paginated list of {{.StructName}}"
// @Failure 400 {object} httputils.ErrorResponse "Bad Request (Invalid pagination parameters)"
// @Failure 500 {object} httputils.ErrorResponse "Internal Server Error"
// @Router /api/v1/{{.StructNamePluralRequestPath}}/pageable [get]
func (h *Handler) FindAllPageable(w http.ResponseWriter, r *http.Request) {
	pq, err := pageable.GetPaginationFromCtx(r)
	if err != nil {
		httputils.WriteJSON(w, http.StatusBadRequest, httputils.ErrorResponse{Message: err.Error()})
		return
	}
	resp, page, err := h.svc.FindAllPageable(r.Context(), pq)
	if err != nil {
		httputils.WriteJSON(w, http.StatusInternalServerError, httputils.ErrorResponse{Message: err.Error()})
		return
	}
	httputils.WriteJSON(w, http.StatusOK, {{.ResponseListName}}{
		Data: mapDtosToPayloads(resp),
		Page: &page,
	})
}

// mappers

func mapCreateRequestToCreateInputDto(inputRequest *{{.CreateRequestName}}) *CreateDto {
	return &CreateDto{
{{- range .DtoFieldsCreate}}
		{{.FieldName}}: inputRequest.{{.FieldName}},
{{- end}}
	}
}

{{- if .HasUpdateFields}}
func mapUpdateRequestToUpdateInputDto(inputRequest *{{.UpdateRequestName}}) *UpdateDto {
	return &UpdateDto{
{{- range .DtoFieldsUpdate}}
		{{.FieldName}}: inputRequest.{{.FieldName}},
{{- end}}
	}
}

{{- end}}

func mapDtosToPayloads(inputDtos []Dto) []{{.ResponseName}} {
	outputResponses := make([]{{.ResponseName}}, 0, len(inputDtos))
	for i := range inputDtos {
		outputResponses = append(outputResponses, mapDtoToPayload(&inputDtos[i]))
	}
	return outputResponses
}

func mapDtoToPayload(inputDto *Dto) {{.ResponseName}} {
	return {{.ResponseName}}{
{{- range .DtoFieldsFull}}
		{{.FieldName}}: inputDto.{{.FieldName}},
{{- end}}
	}
}
