
package api

import (
	"context"
{{- range .Structs}}
	"go-project-template-v7/internal/api/{{.DbSchemaName}}/{{.DbTableName}}"
{{- end }}
)

// Init all services

type Services struct {
{{- range .Structs}}
	{{.StructName}} {{.DbTableName}}.Service
{{- end }}
}

type Deps struct {
	// TODO: other deps here
	Repos *Repositories
}

func NewServices(ctx context.Context, deps Deps) *Services {
	return &Services{
{{- range .Structs}}
		{{.StructName}}: {{.DbTableName}}.NewService(ctx, deps.Repos.{{.StructName}}),
{{- end }}
	}
}
