
package api

import (
	"context"

{{- range .Structs}}
	"go-project-template-v7/internal/api/{{.DbTableName}}"
{{- end }}

	"go-project-template-v7/pkg/storage/postgres"
)

// Init all repos

type Repositories struct {
{{- range .Structs}}
	{{.StructName}} {{.DbTableName}}.Repository
{{- end }}
}

func NewRepositories(ctx context.Context, db *postgres.Postgres) *Repositories {
	return &Repositories{
{{- range .Structs}}
		{{.StructName}}: {{.DbTableName}}.NewRepository(ctx, db),
{{- end }}
	}
}
