
package {{.PackageName}}

import (
	"context"
	"errors"
	"fmt"

	"go-project-template-v7/pkg/apperrors"
	"go-project-template-v7/pkg/pageable"
	"go-project-template-v7/pkg/storage/postgres"

	"github.com/jackc/pgx/v5"
)

type Repository interface {
	Save(ctx context.Context, inputEntity *{{.StructName}}) (*{{.StructName}}, error)
{{- if .HasUpdateFields}}
	UpdateByID(ctx context.Context, update *UpdateDto, {{.ParametersByPkeys}}) (*{{.StructName}}, error)
{{- end}}
{{- if .HasPrimaryKey}}
	DeleteByID(ctx context.Context, {{.ParametersByPkeys}}) error
	FindByID(ctx context.Context, {{.ParametersByPkeys}}) (*{{.StructName}}, error)
{{- end}}
	FindAll(ctx context.Context) ([]{{.StructName}}, error)
	FindAllPageable(ctx context.Context, pq *pageable.PaginationQuery) ([]{{.StructName}}, pageable.Page, error)
}

type repo struct {
	db *postgres.Postgres
}

var _ Repository = &repo{}

func NewRepository(_ context.Context, db *postgres.Postgres) Repository {
	return &repo{
		db: db,
	}
}

func (r *repo) Save(ctx context.Context, inputEntity *{{.StructName}}) (*{{.StructName}}, error) {
	tag := "repository.Save"

	query := `{{.RepoSaveQuery | AddPadding2}}`

	row := r.db.Pool.QueryRow(ctx, query,
{{- range .DtoFieldsCreate}}
		inputEntity.{{.FieldName}},
{{- end}}
	)

	scannedEntity, err := scanFullRow(row)
	if err != nil {
		return nil, fmt.Errorf("%s: %w", tag, err)
	}
	return scannedEntity, nil
}

{{- if .HasUpdateFields}}
func (r *repo) UpdateByID(ctx context.Context, update *UpdateDto, {{.ParametersByPkeys}}) (*{{.StructName}}, error) {
	tag := "repository.UpdateByID"

	if update == nil {
		return nil, fmt.Errorf("%s: update is nil", tag)
	}

	query := `{{.RepoUpdateQuery | AddPadding2}}`

	row := r.db.Pool.QueryRow(ctx, query,
		{{.ArgumentsByPkeys}},
{{- range .DtoFieldsUpdate}}
		update.{{.FieldName}},
{{- end}}
	)

	scannedEntity, err := scanFullRow(row)
	if err != nil {
		return nil, fmt.Errorf("%s: %w", tag, err)
	}
	return scannedEntity, nil
}

{{- end}}

{{- if .HasPrimaryKey}}
func (r *repo) DeleteByID(ctx context.Context, {{.ParametersByPkeys}}) error {
	tag := "repository.DeleteByID"

	query := `{{.RepoDeleteQuery | AddPadding2}}`

	cmdTag, err := r.db.Pool.Exec(ctx, query, {{.ArgumentsByPkeys}})
	if err != nil {
		return fmt.Errorf("%s: %w", tag, err)
	}
	if cmdTag.RowsAffected() == 0 {
		return fmt.Errorf("%s: %w", tag, apperrors.ErrNotFound)
	}
	return nil
}

func (r *repo) FindByID(ctx context.Context, {{.ParametersByPkeys}}) (*{{.StructName}}, error) {
	tag := "repository.FindByID"

	query := `{{.RepoGetByIdQuery | AddPadding2}}`

	row := r.db.Pool.QueryRow(ctx, query, {{.ArgumentsByPkeys}})

	scannedEntity, err := scanFullRow(row)
	if err != nil {
		return nil, fmt.Errorf("%s: %w", tag, err)
	}
	return scannedEntity, nil
}

{{- end}}

func (r *repo) FindAll(ctx context.Context) ([]{{.StructName}}, error) {
	tag := "repository.FindAll"

	query := `{{.RepoGetAllQuery | AddPadding2}}`

	rows, err := r.db.Pool.Query(ctx, query)
	if err != nil {
		return nil, fmt.Errorf("%s: %w", tag, err)
	}
	defer rows.Close()

	scannedEntities := make([]{{.StructName}}, 0)
	for rows.Next() {
		scannedEntity, err := scanFullRow(rows)
		if err != nil {
			return nil, fmt.Errorf("%s: %w", tag, err)
		}
		scannedEntities = append(scannedEntities, *scannedEntity)
	}

	if rows.Err() != nil {
		return nil, rows.Err()
	}
	return scannedEntities, nil
}

func (r *repo) FindAllPageable(ctx context.Context, pq *pageable.PaginationQuery) ([]{{.StructName}}, pageable.Page, error) {
	tag := "repository.FindAllPageable"

	// retrieve total count
	queryCnt := `{{.RepoCountQuery}}`
	var totalCount int
	if err := r.db.Pool.QueryRow(ctx, queryCnt).Scan(&totalCount); err != nil {
		return nil, pageable.Page{}, err
	}

	// init page
	page := pageable.CreatePage(pq, totalCount)

	// handle empty result
	if totalCount == 0 {
		return make([]{{.StructName}}, 0), page, nil
	}

	// select entities
	query := `{{.RepoGetAllPaginatedQuery | AddPadding2}}`

	rows, err := r.db.Pool.Query(ctx, query, pq.GetOffset(), pq.GetLimit())
	if err != nil {
		return nil, pageable.Page{}, fmt.Errorf("%s: %w", tag, err)
	}
	defer rows.Close()

	scannedEntities := make([]{{.StructName}}, 0)
	for rows.Next() {
		scannedEntity, err := scanFullRow(rows)
		if err != nil {
			return nil, pageable.Page{}, fmt.Errorf("%s: %w", tag, err)
		}
		scannedEntities = append(scannedEntities, *scannedEntity)
	}

	if rows.Err() != nil {
		return nil, page, rows.Err()
	}
	return scannedEntities, page, nil
}

// scan utils

// scanFullRow is expected to scan all columns from a table.
// For simplicity, most methods scan the entire row of the table into the result entity.
// You should adapt methods as needed (e.g., if business logic requires returning only an ID after an UPDATE).
func scanFullRow(row pgx.Row) (*{{.StructName}}, error) {
	var scannedEntity {{.StructName}}
	err := row.Scan(
{{- range .DtoFieldsFull}}
		&scannedEntity.{{.FieldName}},
{{- end}}
	)
	if err != nil {
		if errors.Is(err, pgx.ErrNoRows) {
			return nil, apperrors.ErrNotFound
		}
		return nil, err
	}
	return &scannedEntity, nil
}
