
package repository

import (
	"context"

	"go-project-template-v5/pkg/pageable"

	dbModel "go-project-template-v5/internal/api/{{.PackageName}}/entity/postgres"
)

type {{.InterfaceName}} interface {
	Save(ctx context.Context, inputEntity *dbModel.{{.StructName}}) (*dbModel.{{.StructName}}, error)
{{- if .HasUpdateFields}}
	UpdateByID(ctx context.Context, inputEntity *dbModel.{{.StructName}}, {{.ParametersByPkeys}}) (*dbModel.{{.StructName}}, error)
{{- end}}
{{- if .HasPrimaryKey}}
	DeleteByID(ctx context.Context, {{.ParametersByPkeys}}) error
	FindByID(ctx context.Context, {{.ParametersByPkeys}}) (*dbModel.{{.StructName}}, error)
{{- end}}
	FindAll(ctx context.Context) ([]dbModel.{{.StructName}}, error)
	FindAllPageable(ctx context.Context, pq *pageable.PaginationQuery) ([]dbModel.{{.StructName}}, pageable.Page, error)
}
