
package service

import (
	"context"

	"go-project-template-v5/pkg/pageable"

	"go-project-template-v5/internal/api/{{.PackageName}}/dto"
)

type {{.InterfaceName}} interface {
	Save(ctx context.Context, input *dto.{{.DtoCreateName}}) (*dto.{{.DtoName}}, error)
{{- if .HasUpdateFields}}
	UpdateByID(ctx context.Context, input *dto.{{.DtoUpdateName}}, {{.ParametersByPkeys}}) (*dto.{{.DtoName}}, error)
{{- end}}
{{- if .HasPrimaryKey}}
	DeleteByID(ctx context.Context, {{.ParametersByPkeys}}) error
	FindByID(ctx context.Context, {{.ParametersByPkeys}}) (*dto.{{.DtoName}}, error)
{{- end}}
	FindAll(ctx context.Context) ([]dto.{{.DtoName}}, error)
	FindAllPageable(ctx context.Context, pq *pageable.PaginationQuery) ([]dto.{{.DtoName}}, pageable.Page, error)
}
