
package {{.PackageName}}

import (
	"context"

	"go-project-template-v7/pkg/pageable"
)

type Service interface {
	Save(ctx context.Context, input *CreateDto) (*Dto, error)
{{- if .HasUpdateFields}}
	UpdateByID(ctx context.Context, input *UpdateDto, {{.ParametersByPkeys}}) (*Dto, error)
{{- end}}
{{- if .HasPrimaryKey}}
	DeleteByID(ctx context.Context, {{.ParametersByPkeys}}) error
	FindByID(ctx context.Context, {{.ParametersByPkeys}}) (*Dto, error)
{{- end}}
	FindAll(ctx context.Context) ([]Dto, error)
	FindAllPageable(ctx context.Context, pq *pageable.PaginationQuery) ([]Dto, pageable.Page, error)
}

type svc struct {
	repo Repository
}

var _ Service = &svc{}

func NewService(_ context.Context, repo Repository) Service {
	return &svc{
		repo: repo,
	}
}

func (s *svc) Save(ctx context.Context, input *CreateDto) (*Dto, error) {
	save, err := s.repo.Save(ctx, fromCreateDtoToEntity(input))
	if err != nil {
		return nil, err
	}
	result := fromEntityToDto(save)
	return &result, nil
}

{{- if .HasUpdateFields}}
func (s *svc) UpdateByID(ctx context.Context, input *UpdateDto, {{.ParametersByPkeys}}) (*Dto, error) {
	updated, err := s.repo.UpdateByID(ctx, input, {{.ArgumentsByPkeys}})
	if err != nil {
		return nil, err
	}
	result := fromEntityToDto(updated)
	return &result, nil
}

{{- end}}

{{- if .HasPrimaryKey}}
func (s *svc) DeleteByID(ctx context.Context, {{.ParametersByPkeys}}) error {
	return s.repo.DeleteByID(ctx, {{.ArgumentsByPkeys}})
}

func (s *svc) FindByID(ctx context.Context, {{.ParametersByPkeys}}) (*Dto, error) {
	entityByID, err := s.repo.FindByID(ctx, {{.ArgumentsByPkeys}})
	if err != nil {
		return nil, err
	}
	result := fromEntityToDto(entityByID)
	return &result, nil
}

{{- end}}

func (s *svc) FindAll(ctx context.Context) ([]Dto, error) {
	entities, err := s.repo.FindAll(ctx)
	if err != nil {
		return nil, err
	}
	return fromEntitiesToDtos(entities), nil
}

func (s *svc) FindAllPageable(ctx context.Context, pq *pageable.PaginationQuery) ([]Dto, pageable.Page, error) {
	entities, page, err := s.repo.FindAllPageable(ctx, pq)
	if err != nil {
		return nil, pageable.Page{}, err
	}
	return fromEntitiesToDtos(entities), page, nil
}

// mappers

func fromCreateDtoToEntity(input *CreateDto) *{{.StructName}} {
	return &{{.StructName}}{
{{- range .DtoFieldsCreate}}
		{{.FieldName}}: input.{{.FieldName}},
{{- end}}
	}
}


func fromEntitiesToDtos(inputEntities []{{.StructName}}) []Dto {
	outputDtos := make([]Dto, 0, len(inputEntities))
	for i := range inputEntities {
		outputDtos = append(outputDtos, fromEntityToDto(&inputEntities[i]))
	}
	return outputDtos
}

func fromEntityToDto(inputEntity *{{.StructName}}) Dto {
	return Dto{
{{- range .DtoFieldsFull}}
		{{.FieldName}}: inputEntity.{{.FieldName}},
{{- end}}
	}
}
